html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#content {
  position: relative;
  user-select: none;
  font-size: 0;
}

#content h1 {
  font-size: 16px;
  font-weight: 300;
  color: #666;
  position: absolute;
  bottom: 100%;
  margin: 0 0 8px;
  line-height: 1;
  text-shadow: 1px 1px #fff;
}

#content h1 a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  transition: color .1s linear;
}

#content h1 a:hover {
  color: #000;
}

#content h1 sup {
  font-size: 12px;
  margin-left: 4px;
}

#content p {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  margin: 8px 0 0;
  color: #666;
  font-size: 14px;
  line-height: 1;
}

#content p a {
  text-decoration: none;
  color: inherit;
}

#content p a:hover {
  text-decoration: underline;
}

#buttons {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 8px;
}

#buttons button {
  width: 28px;
  height: 28px;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 0;
  color: #666;
  cursor: pointer;
  background: #f6f6f6;
}

#buttons button:hover {
  color: #000;
  background: #fff;
}
